body {
    margin: 10px;
    background-color: white;
}

.flex-row {
    justify-content: center;
}

.main-container > img {
    width: 100%;
    max-width: 600px;
}

header {
    font-size: 7vw;
    animation: headerGrow 5s linear infinite alternate;
}

.break {
    height: 5vh;
}

.hidden {
    display: none;
}

#main-container {
    position: relative;
    animation: moveBox 3s linear infinite alternate;
}

@keyframes headerGrow {
    0%     {letter-spacing: -5px; color: red; transform: rotate(-5deg);}
    100%   {letter-spacing: 10px; color: blue; transform: rotate(5deg);}
}

@keyframes moveBox {
    0%  {top: -100px; right: 0px;}
    50%  {top: 0px; right: -100px;}
    100%  {top: 0px; right: 100px}
}

@keyframes revealNewBox {
    0% {top: 0px}
    100% {top: 100px}
}

@keyframes shake {
    0%   {transform: rotate(-5deg);}
    10%  {transform: rotate(5deg);}
    20%  {transform: rotate(-5deg);}
    30%  {transform: rotate(5deg);}
    40%  {transform: rotate(-5deg);}
    50%  {transform: rotate(5deg);}
    60%  {transform: rotate(-5deg);}
    70%  {transform: rotate(5deg);}
    80%  {transform: rotate(-5deg);}
    90%  {transform: rotate(5deg);}
    100% {transform: rotate(-5deg);}
}

