body {
    background-color: white;
}

.flex-row {
    justify-content: center;
}

.main-container > img {
    width: 100%;
    max-width: 600px;
}

header {
    font-size: 7vw;
    animation: headerGrow 5s linear infinite alternate;
    overflow: hidden;
}

.break {
    height: 4vh;
}

.hidden {
    display: none;
}

#main-container {
    position: relative;
    animation: moveBox 0.5s linear infinite;
}

#video-container {
    display: none;
    width: 100vw;
    height: 100lvh;
}

#video {
    position: relative;
    width: 100%;
}

@keyframes headerGrow {
    0%     {letter-spacing: -10px; color: red; transform: rotate(-5deg);}
    100%   {letter-spacing: 10px; color: blue; transform: rotate(5deg);}
}

@keyframes moveBox {
    0%  {top: -100px; right: 0px;}
    33%  {top: 0px; right: -100px;}
    66%  {top: 0px; right: 100px}
    100% {top: -100px; right: 0px;}
}

@keyframes revealNewBox {
    0% {top: 0px; transform: scale(1)}
    100% {top: 100px; transform: scale(2)}
}

@keyframes shake {
    0%   {transform: rotate(-5deg);}
    10%  {transform: rotate(5deg);}
    20%  {transform: rotate(-5deg);}
    30%  {transform: rotate(5deg);}
    40%  {transform: rotate(-5deg);}
    50%  {transform: rotate(5deg);}
    60%  {transform: rotate(-5deg);}
    70%  {transform: rotate(5deg);}
    80%  {transform: rotate(-5deg);}
    90%  {transform: rotate(5deg);}
    100% {transform: rotate(-5deg);}
}

